header {
  background-color: lightgrey;
  display: flex;
  
}

ul {
  display: flex;
  list-style-type: none;
  justify-items: end;
}

nav ul li {
  margin: 10px;
}

.articles {
    display: flex;
}

.article-secondary{
    margin: 0px;
}
